/* entire sidebar option */
.sidebar-option {
  margin: 6px 0px 6px 0px;
  padding: 7px 2px 7px 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 10px solid transparent;
  background-color: rgb(31, 31, 31);
}
.sidebar-option:hover {
  cursor: pointer;
  filter: brightness(1.25);
}
.sidebar-option:active {
  filter: brightness(1.4);
}


/* icons and text */
span {
  color: white;
  font-size: 16px;
  font-style: none;
}
.icon {
  font-size: 18px;
}


/* router link active: adjust sidebar-option */
.option-active {
  border-right: 5px solid #859ad4;
}
/* router link active: adjust span text/icon color */
.span-active {
  color: #859ad4;
}
