<!-- TITLE SECTION -->
<div class="trips_title_box">
  <!-- dropdown -->
  <div>
    <button type="button" class="drop-icon btn btn-default btn-xs" data-toggle="collapse"
      data-target="#upcoming-dropdown" id="upcoming-collapse">
      <span class="glyphicon glyphicon-menu-down"></span>
    </button>
  </div>

  <!-- title -->
  <h2 class="trips-title">
    <label for="upcoming-collapse">
      {{title}}
    </label>
  </h2>

  <!-- filter: ADD FUNCITONALITY -->
  <div class="dropdown filter">
    <button type="button" class="filter-icon btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-filter"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="pull-left"><a>Date</a></li>
      <li class="pull-left"><a>Title (A-Z)</a></li>
    </ul>
  </div>
</div>
