<div class="container-fluid">
  <h1 class="page-title">Your Trips</h1>
  <hr/>


  <!-- UPCOMING TRIPS -->
  <div class="title_and_thumbnail_area">
    <!-- TITLE SECTION -->
    <trips-title-section
      [collapseID]="upcomingCollapse"
      [title]="upcomingTrips_SectionTitle">
    </trips-title-section>

    <!-- THUMBNAILS SECTION -->
    <div class="thumbnail-section container-fluid">
      <!-- all thumbnails -->
      <div class="collapse in row-fluid" id="{{upcomingCollapse}}">
        <!-- list of upcoming trip thumbnails -->
        <ng-container *ngFor="let trip of upcomingTrips">
          <div class="col-md-6 wrapper">
            <trip-thumbnail [trip]="trip"></trip-thumbnail>
          </div>
        </ng-container>


        <!-- create new trip thumbnail -->
        <div class="col-md-6 wrapper">
          <new-trip-thumbnail
            [title]="createUpcomingTrip_Title"
            [description]="createUpcomingTrip_Description">
          </new-trip-thumbnail>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!-- PREVIOUS TRIPS -->
  <div class="title_and_thumbnail_area">
    <!-- TITLE SECTION -->
    <trips-title-section
      [collapseID]="previousCollapse"
      [title]="previousTrips_SectionTitle">
    </trips-title-section>

    <!-- THUMBNAILS SECTION -->
    <div class="thumbnail-section container-fluid">
      <!-- all thumbnails -->
      <div class="collapse in row-fluid" id="{{previousCollapse}}">
        <!-- list of previous trip thumbnails -->

        <ng-container *ngFor="let trip of previousTrips">
          <div class="col-md-6 wrapper">
            <trip-thumbnail [trip]="trip"></trip-thumbnail>
          </div>
        </ng-container>


        <!-- create new trip thumbnail -->
        <div class="col-md-6 wrapper">
          <new-trip-thumbnail
            [title]="createPreviousTrip_Title"
            [description]="createPreviousTrip_Description">
          </new-trip-thumbnail>
        </div>

      </div>
    </div>
  </div>

  <hr />
</div>
