<div class="thumbnail_box">
  <img src="{{trip.imgUrl}}" alt="{{trip.title}}" class="bg-img"/>

  <div class="thumbnail_mask">
    <div class="thumbnail_box_info">

      <div class="thumbnail-title">
        <h2>{{trip.title}}</h2>
      </div>

      <div class="thumbnail_details">
        <h4>

          <span class="thumbnail-date">
            {{trip.startDate.toLocaleDateString('en-us', { month:"short", day:"numeric"})}}
            &mdash;
            {{trip.endDate.toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})}}
          </span>

          <div class="thumbnail_location">
            Destination<span *ngIf="multipleLocations(trip.locations)">s</span>:
            <br />
            <ng-container class="destinations" *ngFor="let location of trip.locations">
              <div class="destinations">
                <span [ngSwitch]="location.country">
                  <span *ngSwitchCase="'United States'">{{location.city}}, {{location.stateProv}}, U.S.</span>
                  <span *ngSwitchDefault>{{location.city}}, {{location.country}}</span>

                  <span *ngIf="multipleLocations(trip.locations)"><br /></span>
                </span>
              </div>
            </ng-container>
          </div>

        </h4>
      </div>

    </div>
  </div>
</div>
