<!-- TITLE SECTION -->
<div class="trips_title_box">

  <!-- dropdown -->
  <button type="button" class="toggle collapse-icon btn btn-default btn-xs" data-toggle="collapse"
    attr.data-target="#{{collapseID}}" id="{{collapseID}}-forlabel">
  </button>


  <!-- title -->
  <h2 class="trips-title font600">
    <label for="{{collapseID}}-forlabel">
      {{title}}
    </label>
  </h2>

  <!-- filter: ADD FUNCITONALITY -->
  <div class="dropdown filter">
    <!-- filter icon -->
    <button type="button" class="filter-icon btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-filter"></span>
    </button>
    <!-- menu -->
    <ul class="dropdown-menu">
      <!-- filter by TITLE (A-Z) -->
      <li>
        <a (click)="this.tripService.sortByTitle(tripList); filterToggle=true;"
        [ngClass]="{'filter-toggle': filterToggle}">
        Title (A-Z)</a>
      </li>
      <!-- filter by DATE (recent-oldest) -->
      <li>
        <a (click)="this.tripService.sortByDate(tripList); filterToggle=false;"
          [ngClass]="{'filter-toggle': !filterToggle}">
          Date</a>
      </li>
    </ul>
  </div>

</div>
