<!-- TITLE SECTION -->
<div class="trips_title_box">

  <!-- dropdown -->
  <button type="button" class="toggle drop-icon btn btn-default btn-xs" data-toggle="collapse"
    attr.data-target="#{{collapseID}}" id="{{collapseID}}-forlabel">
  </button>


  <!-- title -->
  <h2 class="trips-title font600">
    <label for="{{collapseID}}-forlabel">
      {{title}}
    </label>
  </h2>

  <!-- filter: ADD FUNCITONALITY -->
  <div class="dropdown filter">
    <button type="button" class="filter-icon btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-filter"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="pull-left"><a>Date</a></li>
      <li class="pull-left"><a>Title (A-Z)</a></li>
    </ul>
  </div>

</div>
