/* content of page */
.main-content {
  margin: 15px 5%;
}

h1 {
  margin: 40px 0 40px -1%;
}

/* background image */
.trip-img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

/* overlay of facts & icons */
.facts-overlay {
  height: 65px;
  width: 100%;
  z-index: 2;
  padding-left: 2%;
  background-color: rgb(31, 31, 31, 0.6);
  backdrop-filter: blur(5px);
  object-fit: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -65px;
}

/* contains: dates + duration */
.dates-and-duration {
  position: relative;
  margin-left: -1%;
  margin-right: -1%;
  height: 96.4px;
  width: 102%;
  display: flex;
  margin-bottom: 40px;
}

/* calendar dates */
.calendar-date {
  display: inline-flex;
  align-self: end;
}

/* contains: duration fact */
.duration {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  width: 100%;
  height: 65px;
  margin-bottom: 2px;
  background: rgb(70, 255, 81);
  background: linear-gradient(
    90deg,
    rgba(70, 255, 81, 0.3200630594034489) 0%,
    rgba(206, 255, 209, 0.6842087176667542) 7%,
    rgba(255, 255, 255, 1) 19%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 81%,
    rgba(255, 202, 202, 0.5525560566023284) 93%,
    rgba(255, 73, 73, 0.208018241476278) 100%
  );
}

.duration-fact {
  transform: scale(1.2);
}

.text-content {
  font-size: 16px;
  margin-bottom: 20px;
}

.text-content h4 {
  margin: 0;
}

#expand {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
input:focus ~ label {
  outline: -webkit-focus-ring-color auto 5px;
}

input:checked + p {
  -webkit-line-clamp: unset;
}

input:checked ~ label {
  display: none;
}

.details-box {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #fff;
  box-shadow: 1px 1px 10px #3792e123;
  padding: 30px 30px 20px 30px;
  width: 100%;
}

.details {
  white-space: pre-wrap;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#show-more {
  align-self: center;
  text-align: center;
  margin-top: 15px;
  width: 100px;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #90a5e0;
  background-image: linear-gradient(to bottom right, #a7b6e0, #859ad4);
  color: #fff;
}

#show-more:hover {
  color: rgb(43, 43, 43);
  background-image: linear-gradient(to bottom right, #859ad4, #a7b6e0);
}

.list-heading {
  margin: 20px;
}

.list {
  margin-top: 20px;
  padding-left: 0px;
}

.alert-info {
  display: flex;
  margin: 50px 0;
  padding: 25px 40px;
  color: rgb(31, 31, 31);
  background-color: #fff;
  box-shadow: 1px 1px 10px #3792e123;
  border: none;
  width: 100%;
}

/* contains: all to do list related elements */
.to-do-content {
  position: relative;
  width: 75%;
}

/* to do list heading */
.to-do-content h4 {
  font-size: 20px;
  margin: 10px 0 10px 0;
}

/* to do list component div */
.to-do-list {
  margin-top: 20px;
  padding-left: 6%;
  font-size: 16px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contains: to-do-btn */
.empty-to-do {
  padding-right: 10%;
  height: 100px;
  width: 100%;
}

/* contains: to do clipart img */
.clipart-img {
  width: 25%;
}

.clipart-img img {
  width: 100%;
  max-width: 200px;
  min-width: 68px;
}

/* to do button */
.to-do-btn {
  color: white;
  font-size: 17px;
  background-image: linear-gradient(to bottom right, #a7b6e0, #859ad4);
  border: none;
  padding: 10px 18px;
}
.to-do-btn:hover {
  color: rgb(43, 43, 43);
  background-image: linear-gradient(to bottom right, #859ad4, #a7b6e0);
}

.btn {
  outline: none;
}
.btn:active {
  outline: none;
}
