<div>
  <img class="trip-img" src="{{trip?.imgUrl}}">
</div>
<div class="facts-overlay">
  <!-- trip fact: # of days from trip-->
  <app-trip-fact [properties]="daysUntilFact"></app-trip-fact>

  <!-- trip fact: # of destinations -->
  <app-trip-fact [properties]="destinationsFact"></app-trip-fact>

  <!-- trip fact: # of toDo tasks -->
  <app-trip-fact [properties]="toDoFact"></app-trip-fact>

  <!-- trip fact: # of photos -->
  <app-trip-fact [properties]="photosFact"></app-trip-fact>

</div>
<div class="main-content">

  <h1>{{trip?.title}}</h1>

  <span class="font700">
    {{trip?.startDate | date: 'mediumDate'}}
    &mdash;
    {{trip?.endDate | date: 'mediumDate'}}
  </span>

  <div>
    <p>{{trip?.destinations?.length === 0 ? 'Destination:' : 'Destinations'}}</p>
    <app-destinations-list [destinations]="trip?.destinations"></app-destinations-list>
  </div>

  <a [routerLink]="['/trips', trip?.id, 'edit']">
    <button>
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
  </a>

</div>
