/* content of page */
.main-content {
  margin: 15px 1.5%;
}

/* background image */
.trip-img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

/* overlay of facts & icons */
.facts-overlay {
  height: 65px;
  width: 100%;
  z-index: 2;
  padding-left: 2%;
  background-color: rgb(31, 31, 31, 0.6);
  backdrop-filter: blur(5px);
  object-fit: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: -65px;
}
