<!-- title -->
<div class="col-xs-12">
  <h2>Personal Info</h2>
</div>

<!-- form -->
<div class="col-xs-12">
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">

    <div class="col-xs-6">
      <!-- First Name -->
      <app-form-field controlName="firstName" labelText="First Name" type="text" placeholder="First Name"
        [hasInvalidStyling]="firstName.touched && firstName.invalid" [isRequired]="true">
      </app-form-field>
    </div>

    <div class="col-xs-6">
      <!-- Last Name -->
      <app-form-field controlName="lastName" labelText="Last Name" type="text" placeholder="Last Name"
        [hasInvalidStyling]="lastName.touched && lastName.invalid" [isRequired]="true">
      </app-form-field>
    </div>

    <!-- ERRORS -->
    <div class="col-xs-6">
      <!-- required -->
      <app-validation-alert [validationBoolean]="firstName.hasError('required')" alertText="First Name is required.">
      </app-validation-alert>
    </div>

    <!-- ERRORS -->
    <div class="col-xs-6">
      <!-- required -->
      <app-validation-alert [validationBoolean]="lastName.hasError('required')" alertText="Last Name is required.">
      </app-validation-alert>
    </div>

    <!-- Username -->
    <div class="col-xs-12">
      <app-form-field controlName="username" labelText="Username" type="text" placeholder="Username"
        [hasInvalidStyling]="lastName.touched && lastName.invalid" [isRequired]="true" [isDisabled]="true">
      </app-form-field>
    </div>

    <!-- Password -->
    <div class="col-xs-12">
      <app-form-field controlName="password" labelText="Current Password" type="password" placeholder="Password"
        [hasInvalidStyling]="password.touched && password.invalid" [isRequired]="true">
      </app-form-field>
    </div>

    <!-- ERRORS -->
    <div class="col-xs-12">
      <!-- required -->
      <div *ngIf="password.hasError('required') && password.touched">
        <app-validation-alert [validationBoolean]="password.hasError('required')" alertText="Password is required.">
        </app-validation-alert>
      </div>

      <!-- invalid attempt -->
      <div *ngIf="invalidProfileFormAttempt && !password.errors">
        <app-validation-alert [validationBoolean]="invalidProfileFormAttempt" alertText="Invalid password.">
        </app-validation-alert>
      </div>
    </div>

    <!-- BUTTON -->
    <button type="submit" class="btn btn-primary">Update Profile</button>
  </form>
</div>
