/* page title styling */
.page-title {
  text-align: center;
  margin: 20px 0px;
  font-size: 4.2rem;
  text-transform: uppercase;
  padding-bottom: 25px;
  border-bottom: 2px solid darkgray;
  width: auto;
}

/* div for each title/thumbnail section
  upcoming vs. previous */
.title_and_thumbnail_area {
  min-width: 80%;
  padding-bottom: 40px;
  border-bottom: 2px solid darkgray;
}

/* space under entire previous trips section */
.marg-btm {
  margin-bottom: 100px;
}

/* thumbnail section */
.thumbnail-section {
  padding: 5px;
}

/* wrapping for thumbanil boxes in row-col */
.wrapper {
  padding: 35px 40px;
}
