<div class="container-fluid">
  <h1 class="page-title">Your Trips</h1>


  <!-- UPCOMING TRIPS -->
  <div class="title_and_thumbnail_area">
    <!-- TITLE SECTION -->
    <app-trips-title-section [collapseID]="upcomingCollapse" [title]="upcomingTrips_SectionTitle" [tripList]="upcomingTrips"
      sortToggle="sortByEarliestDate">
    </app-trips-title-section>

    <!-- THUMBNAILS SECTION -->
    <div class="thumbnail-section container-fluid">
      <!-- all thumbnails -->
      <div class="collapse in row-fluid" id="{{upcomingCollapse}}">

        <!-- list of upcoming trip thumbnails (sorted to have soonest upcoming trips at the top)-->
        <ng-container *ngFor="let trip of upcomingTrips | byEarliestDate">
          <div class="col-md-6 wrapper">
            <app-trip-thumbnail [trip]="trip"></app-trip-thumbnail>
          </div>
        </ng-container>


        <!-- create new trip thumbnail -->
        <div class="col-md-6 wrapper">
          <app-new-trip-thumbnail [title]="createUpcomingTrip_Title" [description]="createUpcomingTrip_Description">
          </app-new-trip-thumbnail>
        </div>
      </div>
    </div>
  </div>


  <!-- PREVIOUS TRIPS -->
  <div class="title_and_thumbnail_area marg-btm">
    <!-- TITLE SECTION -->
    <app-trips-title-section [collapseID]="previousCollapse" [title]="previousTrips_SectionTitle" [tripList]="previousTrips"
    sortToggle="sortByLatestDate">
  </app-trips-title-section>

  <!-- THUMBNAILS SECTION -->
  <div class="thumbnail-section container-fluid">
    <!-- all thumbnails -->
      <div class="collapse in row-fluid" id="{{previousCollapse}}">

        <!-- list of upcoming trip thumbnails (sorted to have most recent previous trips at the top)-->
        <ng-container *ngFor="let trip of previousTrips | byLatestDate">
          <div class="col-md-6 wrapper">
            <app-trip-thumbnail [trip]="trip"></app-trip-thumbnail>
          </div>
        </ng-container>


        <!-- create new trip thumbnail -->
        <div class="col-md-6 wrapper">
          <app-new-trip-thumbnail [title]="createPreviousTrip_Title" [description]="createPreviousTrip_Description">
          </app-new-trip-thumbnail>
        </div>

      </div>
    </div>
  </div>

</div>
