<!-- background image -->
<img id="bg-img" src="assets/images/general/form-bg.jpg" />

<!-- page container -->
<section class="allcontent-center">

  <div class="content-fullwidth">

    <!-- Title: TRAVEL TRACK -->
    <h1 class="text-center">
      <a [routerLink]="['/home']"><span class="bi bi-pin-map-fill"></span>Travel Track</a>
    </h1>

    <!-- register card -->
    <div class="card">
      <div class="row text-center">
        <!-- image side: left side of card -->
        <div class="col-md-4 img-side">
          <img src="assets/images/general/register.jpg" class="card-img" alt="register-bg-image card-img">
        </div>

        <!-- REGISTER ACCOUNT content side: right side of card -->
        <div class="col-md-8 register-side">
          <div class="registercontent-80width">

            <div class="card-body">
              <!-- Subtitle: REGISTER YOUR NEW ACCOUNT -->
              <h3 class="card-title subtitle">Register your new account.</h3>

              <form [formGroup]="accountForm" (ngSubmit)="createAccount()">
                <!-- FULL NAME -->
                <div class="flex-row">

                  <!-- FIRST NAME -->
                  <div class="username">
                    <!-- alert placement -->
                    <div class="alert-placeholder flex">
                      <div class="alert alert-danger"
                        [hidden]="firstName.valid || (!mouseoverSubmit && (firstName.valid || firstName.untouched))">
                        <p>First name is required</p>
                      </div>
                    </div>
                    <!-- input box -->
                    <input formControlName="firstName" required type="text" name="firstName"
                      class="form-control form-control-lg ng-invalid input-half" placeholder="First name" />
                  </div>

                  <!-- LAST NAME -->
                  <div>
                    <!-- alert placement -->
                    <div class="alert-placeholder flex">
                      <div class="alert alert-danger"
                        [hidden]="lastName.valid || (!mouseoverSubmit && (lastName.valid || lastName.untouched))">
                        <p>Last name is required</p>
                      </div>
                    </div>
                    <!-- input box -->
                    <input formControlName="lastName" required type="text"
                      class="form-control form-control-lg ng-invalid input-half" placeholder="Last name" />
                  </div>
                </div>

                <!-- USERNAME -->
                <div>
                  <!-- alert placement -->
                  <div class="alert-placeholder flex">
                    <div class="alert alert-danger"
                      [hidden]="username.valid || (!mouseoverSubmit && (username.valid || username.untouched))">
                      <p>
                        {{ username.hasError('required') ? 'Username is required' : '' }}
                        {{ username.hasError('email') && !username.hasError('required') ? 'Username must be an email' :
                        '' }}
                        {{ username.hasError('usernameExists') && !username.hasError('email') &&
                        !username.hasError('required') ? 'Username already exists' : '' }}
                      </p>
                    </div>
                  </div>
                  <!-- input box -->
                  <input formControlName="username" required type="text" class="form-control form-control-lg ng-invalid"
                    placeholder="Username" />
                </div>

                <!-- PASSWORD -->
                <div>
                  <!-- alert placement -->
                  <div class="alert-placeholder flex">
                    <div class="alert alert-danger"
                      [hidden]="password.valid || (!mouseoverSubmit && (password.valid || password.untouched))">
                      <p>
                        {{ password.hasError('required') ? 'Password is required' : '' }}
                        {{ password.hasError('pattern') && !password.hasError('required') ? 'Must be at least 8
                        characters, uppercase, lowercase, number, symbol' : '' }}
                      </p>
                    </div>
                  </div>
                  <!-- input box -->
                  <input formControlName="password" required type="password"
                    class="form-control form-control-lg ng-invalid" placeholder="Password" />
                </div>

                <!-- update mouseoverSubmit variable -->
                <span (mouseenter)="mouseoverSubmit=true" (mouseleave)="mouseoverSubmit=false">
                  <!-- SUBMIT button -->
                  <button type="submit" [disabled]="!accountForm.valid" class="btn btn-default submit-btn">Create
                    Account</button>
                </span>
              </form>

              <hr />
              <!-- CREATE ACCOUNT button -->
              <p class="card-text text-larger">Already have an account?
                <a class="forgot-pwd font700" [routerLink]="['/user/login']">Sign in</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
