<!-- title -->
<div class="col-xs-12">
  <h2>Change Password</h2>
</div>

<!-- form -->
<div class="col-xs-12">
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <!-- Password -->
    <div class="col-xs-12">
      <app-form-field controlName="currentPassword" labelText="Current Password" type="password"
        placeholder="Current Password" [hasInvalidStyling]="currentPassword.touched && currentPassword.invalid"
        [isRequired]="true">
      </app-form-field>
    </div>

    <!-- ERRORS -->
    <div class="col-xs-12">
      <!-- required -->
      <div *ngIf="currentPassword.hasError('required') && currentPassword.touched">
        <app-validation-alert [validationBoolean]="currentPassword.hasError('required')"
          alertText="Current password is required.">
        </app-validation-alert>
      </div>

      <!-- invalid attempt -->
      <div *ngIf="invalidPasswordFormAttempt && !currentPassword.errors">
        <app-validation-alert [validationBoolean]="invalidPasswordFormAttempt" alertText="Invalid password.">
        </app-validation-alert>
      </div>
    </div>

    <!-- New Password -->
    <div class="col-xs-12">
      <app-form-field controlName="newPassword" labelText="New Password" type="password" placeholder="New Password"
        [hasInvalidStyling]="newPassword.touched && newPassword.invalid" [isRequired]="true">
      </app-form-field>
    </div>

    <!-- ERRORS -->
    <div class="col-xs-12">
      <!-- required -->
      <div *ngIf="newPassword.hasError('required') && newPassword.touched">
        <app-validation-alert [validationBoolean]="newPassword.hasError('required')"
          alertText="New password is required.">
        </app-validation-alert>
      </div>

      <!-- pattern -->
      <div *ngIf="newPassword.hasError('pattern') && newPassword.dirty">
        <app-validation-alert [validationBoolean]="newPassword.hasError('pattern')"
          alertText="Must have at least 8 characters, uppercase, lowercase, number, symbol">
        </app-validation-alert>
      </div>

      <!-- old and new passwords match -->
      <div
        *ngIf="passwordForm.hasError('matchingPasswords') && currentPassword.dirty && newPassword.dirty && !newPassword.hasError('required')">
        <app-validation-alert [validationBoolean]="passwordForm.hasError('matchingPasswords')"
          alertText="New password cannot be the same as your current password.">
        </app-validation-alert>
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="col-xs-12">
      <app-form-field controlName="confirmNewPassword" labelText="Confirm Password" type="password"
        placeholder="Confirm Password" [hasInvalidStyling]="confirmNewPassword.touched && confirmNewPassword.invalid"
        [isRequired]="true">
      </app-form-field>
    </div>

    <!-- ERRORS -->
    <div class="col-xs-12">
      <!-- required -->
      <div *ngIf="confirmNewPassword.hasError('required') && confirmNewPassword.touched">
        <app-validation-alert [validationBoolean]="confirmNewPassword.hasError('required')"
          alertText="Confirm password is required.">
        </app-validation-alert>
      </div>

      <!-- mismatch -->
      <div
        *ngIf="passwordForm.hasError('mismatchingPasswords') && newPassword.dirty && confirmNewPassword.dirty && !confirmNewPassword.hasError('required')">
        <app-validation-alert [validationBoolean]="passwordForm.hasError('mismatchingPasswords')"
          alertText="New password and confirm password must match.">
        </app-validation-alert>
      </div>
    </div>

    <!-- BUTTON -->
    <button type="submit" class="btn btn-primary">Update Password</button>
  </form>
</div>
