<div [routerLink]="['/trips', trip.id]" class="thumbnail_box">
  <!-- thumbnail image -->
  <img src="{{trip.imgUrl}}" alt="{{trip.title}}" class="bg-img"/>

  <div class="thumbnail_mask">
    <div class="thumbnail_box_info">

      <!-- Trip Title -->
      <h2 class="thumbnail-title font700 font-adjust">{{trip.title}}</h2>


        <div class="thumbnail_details">
          <!-- Dates -->
          <p class="thumbnail-date font700">
            {{trip.startDate | date: 'mediumDate'}}
            &mdash;
            {{trip.endDate | date: 'mediumDate'}}
          </p>

          <!-- Destinations -->
          <div class="thumbnail_destinations">
            <!-- toggle destination(s) as singular or plural -->
            <p>Destination<span *ngIf="trip.destinations.length > 1">s</span>:</p>

            <!-- list of trip destinations -->
            <div class="destinations">
              <app-destinations-list [destinations]="trip.destinations"></app-destinations-list>
            </div>
          </div>

        </div>

    </div>
  </div>
</div>
