<form (ngSubmit)="onSubmit()" novalidate [formGroup]="tripForm">

  <!-- TITLE (required) -->
  <div>
    <div class="col-xs-12">
      <!-- label & input component -->
      <form-field
        [controlName]="'title'"
        [labelText]="'Title'"
        [$type]="'text'"
        [$placeholder]="'Your New Trip'"
        [hasInvalidStyling]="title?.touched && title?.invalid"
        [isRequired]="true">
      </form-field>
    </div>

    <!-- title VALIDATION ALERTS -->
    <div class="col-xs-12">
      <div *ngIf="this.title?.touched && this.title?.invalid">
        <!-- required -->
        <validation-alert
          [validationBoolean]="!!this.title?.errors && !!this.title?.errors!['required']"
          [alertText]="'Title is required.'">
        </validation-alert>

        <!-- min-length -->
        <validation-alert
          [validationBoolean]="!!this.title?.errors && !!this.title?.errors!['minlength']"
          [alertText]="'Title must have at least 3 characters.'">
        </validation-alert>
      </div>
    </div>
  </div>
  <!--  -->


  <!-- DATES (required) -->
  <div>
    <div formGroupName="datesGroup">
      <!-- START DATE -->
        <div class="col-xs-6 control">
          <!-- label & input component -->
          <form-field
            [controlName]="'startDate'"
            [labelText]="'Start Date'"
            [$type]="'date'"
            [hasInvalidStyling]="startDate?.touched && startDate?.invalid"
            [isRequired]="true">
          </form-field>
        </div>
        <!-- END DATE -->
        <div class="col-xs-6 control">
          <!-- label & input component -->
          <form-field
            [controlName]="'endDate'"
            [labelText]="'End Date'"
            [$type]="'date'"
            [hasInvalidStyling]="endDate?.touched && endDate?.invalid"
            [isRequired]="true">
          </form-field>
        </div>
      </div>
      <!-- start date & end date VALIDATION ALERTS -->
      <div class="col-xs-12">
        <!-- START DATE validation alert -->
        <div class="alert-lefthalf">
          <!-- must match pattern and fit in valid time frame -->
          <validation-alert
            [validationBoolean]="startDate?.touched && startDate?.invalid"
            [alertText]="'Date must be valid. Valid time frame: 01/01/1900 - 01/01/2100'">
          </validation-alert>
        </div>
        <!-- END DATE validation alert -->
        <div class="alert-righthalf">
          <!-- must match pattern and fit in valid time frame -->
          <validation-alert
            [validationBoolean]="endDate?.touched && endDate?.invalid"
            [alertText]="'Date must be valid. Valid time frame: 01/01/1900 - 01/01/2100'">
          </validation-alert>
        </div>
        <!-- DATES NOT IN ORDER validation alert (startDate > endDate) -->
        <validation-alert
          [validationBoolean]="!!this.datesGroup?.errors"
          [alertText]="'End Date must occur after Start Date.'">
        </validation-alert>
      </div>
  </div>
  <!--  -->


  <!-- DESTINATIONS (required) -->
  <div>
    <!-- Dynamic Input -->
    <form-array
      [$formArrayName]="'destinations'"
      [$placeholder]="'City,  Region,  Country'"
      [labelText]="'Destination(s)'"
      [itemText]="'Destination'"
      [isRequired]="true"
      [toggleAlert]="true"
      [isEditing]="isEditing"
      [existingTrip]="existingTrip">
    </form-array>

    <!-- destinations VALIDATION ALERTS -->
    <div class="col-xs-12">
      <!-- required (no blank fields) -->
      <validation-alert
        [validationBoolean]="this.destinations!.touched
          && this.destinations!.invalid"
        [alertText]="destinationAlertText">
      </validation-alert>
    </div>
  </div>
  <!--  -->


  <!-- MEMBERS -->
  <div>
    <!-- Dynamic Input -->
    <form-array
      [$formArrayName]="'members'"
      [$placeholder]="'Username'"
      [labelText]="'Member(s)'"
      [itemText]="'Member'"
      [isRequired]="false"
      [toggleAlert]="true">
    </form-array>
  </div>


  <!-- DETAILS -->
  <div class="col-xs-12 control">
    <form-field
      [controlName]="'details'"
      [labelText]="'Details'"
      [$type]="'textarea'"
      [$placeholder]="'Share a description of what your trip will be/was about, why you are doing it, etc.'"
      [isRequired]="false">
    </form-field>
  </div>
  <!--  -->


  <!-- BUTTONS -->
  <div class="buttons" [ngClass]="{'buttons-wide': this.isEditing, 'buttons-narrow' : !this.isEditing}">
    <!-- ADD -->
    <span data-toggle="tooltip" title="{{this.tripForm.invalid ? this.findInvalidControls() : ''}}">
      <button type="submit" class="btn btn-primary btn-notdelete" [disabled]="this.tripForm.invalid">
        <span>{{!isEditing ? 'Add Trip' : 'Save Trip'}}</span>
      </button>
    </span>

    <!-- CANCEL -->
    <button class="btn btn-default btn-notdelete" type="button" (click)="cancel()">Cancel</button>

    <!-- DELETE -->
    <button *ngIf="this.isEditing" [ngClass]="{'hide' : !this.isEditing}"
      class="btn btn-default btn-delete" type="button" (click)="deleteTrip()">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>

<!-- end of form -->
</form>
