<div class="container">

<h1>{{trip.title}}</h1>

<span class="font700">
  {{trip?.startDate?.toLocaleDateString('en-us', { month:"short", day:"numeric"})}}
  &mdash;
  {{trip?.endDate?.toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})}}
</span>

<div>
  <p>Destination<span *ngIf="multipleDestinations">s</span>:</p>
  <ng-container *ngFor="let destination of trip?.destinations">
    <div>
      <span [ngSwitch]="destination?.country">
        <p *ngSwitchCase="'United States'">{{destination?.city}}, {{destination?.stateProv}}, U.S.</p>
        <p *ngSwitchDefault>{{destination?.city}}, {{destination?.country}}</p>
      </span>
    </div>
  </ng-container>
</div>

</div>
