/* background image */
#bg-img {
  position: fixed;
  z-index: -6;
  width: 100%;
  bottom: -20%;
  opacity: .2;
}

/* card */
.card {
  background-color: white;
  padding:  4%;
  padding-bottom: 80px;
  margin: 40px 80px;
  border-radius: 25px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: .8px .8px 15px .8px rgba(0,0,0,.07);
}

.control {
  margin-top: 25px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

img {
  width: 100%;
}

.form-container {
  margin-top: 8%;
}

/* SUBMIT button */
.btn-primary {
  padding: 6px 18px;
  display: inline-block;
  font-size: 15px;
  color: white;
  background-color: #859ad4;
  margin-right: 20px;
}
.btn-primary:hover {
  background-color: #9fb3eb;
}

/* CANCEL buttons */
.btn-default {
  padding: 6px 12px;
  font-size: 15px;
  color: white;
  background-color: rgb(31, 31, 31);
}
.btn-default:hover {
  background-color: rgb(71, 71, 71);
}

.submit-cancel-btns {
  margin-top: 20px;
  margin-right: 60px;
  float: right;
  display: flex;
  align-items: center;
}


@media (max-width: 660px) {
  .card {
    min-width: 650px;
    margin: 0px;
  }
}

@media (max-width: 991px) {
  img {
    width: 27%;
  }
}
