<!-- background image -->
<img id="bg-img" src="assets/images/general/form-bg.jpg" alt="background-image" />

<div class="card">
  <div class="row">

    <!-- title -->
    <div class="col-xs-12">
      <h1>Edit Profile</h1>
    </div>

    <!-- personal info form -->
    <div class="col-xs-12 col-md-6">
      <app-profile-form></app-profile-form>
    </div>

    <!-- change password form -->
    <div class="col-xs-12 col-md-6">
      <app-change-password-form></app-change-password-form>
    </div>
  </div>
</div>
