/* background image */
#bg-img {
  position: fixed;
  z-index: -6;
  width: 100%;
  bottom: -20%;
  opacity: 0.2;
}

/* card */
.card {
  background-color: white;
  padding: 10px;
  padding-bottom: 80px;
  margin: 40px 80px;
  border-radius: 25px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0.8px 0.8px 15px 0.8px rgba(0, 0, 0, 0.07);
}

/* header */
.card-header {
  margin: 40px 0;
}
.card-body {
  padding: 2% 15%;
}

/* "YOUR NEW TRIP" title */
.page-title {
  padding: 0 40px;
  text-align: center;
}

@media (max-width: 660px) {
  .card {
    min-width: 650px;
    margin: 0px;
  }
}
