<!-- background image -->
<img id="bg-img" src="assets/images/general/form-bg.jpg" />

<!-- page container -->
<section class="center">

  <div class="contain">

    <!-- Title: TRAVEL TRACK -->
    <h1 class="text-center">
      <a [routerLink]="['/home']"><span class="bi bi-pin-map-fill"></span>Travel Track</a>
    </h1>

    <!-- login card -->
    <div class="card">
      <div class="row text-center">
        <!-- image side: left side of card -->
        <div class="col-md-4 img-side">
          <img src="assets/images/general/login.jpg" class="card-img" alt="login-bg-image card-img">
        </div>

        <!-- login content side: right side of card -->
        <div class="col-md-8 login-side">

          <!-- CENTER LOGIN CONTENT ON LEFT SIDE -->
          <div class="center2">
            <div class="contain">

              <div class="card-body">
                <!-- Subtitle: SIGN INTO YOUR ACCOUNT -->
                <h3 class="card-title subtitle">Sign into your account.</h3>

                <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value.username, loginForm.value.password)">
                  <!-- USERNAME -->
                  <div class="flex">
                    <!-- alert placement -->
                    <div class="alert-placeholder flex">
                      <div class="alert alert-danger"
                        [hidden]="username.valid || (!mouseoverLogin && (username.valid || username.untouched))">
                        <p>Username is required</p>
                      </div>
                    </div>
                    <!-- input box -->
                    <input required type="username" id="username" #username="ngModel" (ngModel)="username"
                      name="username" class="form-control form-control-lg ng-invalid" placeholder="Username" />
                  </div>

                  <!-- PASSWORD -->
                  <div class="flex">
                    <div class="alert-placeholder flex">
                      <div class="alert alert-danger"
                        [hidden]="password.valid || (!mouseoverLogin && (password.valid || password.untouched))">
                        <p>Password is required</p>
                      </div>
                    </div>
                    <!-- input box -->
                    <input required type="password" id="password" #password="ngModel" (ngModel)="password"
                      name="password" class="form-control form-control-lg ng-invalid" placeholder="Password" />
                    <!-- alert placement -->
                  </div>

                  <!-- update mouseoverLogin variable -->
                  <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
                    <!-- LOGIN button -->
                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-default login-btn">Login</button>
                  </span>
                  <p class="card-text"><a class="forgot-pwd">Forgot password?</a></p>
                </form>

                <hr />
                <!-- CREATE ACCOUNT button -->
                <button type="submit" class="btn btn-primary" [routerLink]="['/user/new-account']">Create new
                  account</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
