<div class="marg">
  <!--'DISCOVER THE WORLD AND..' (card) -->
  <home-section1></home-section1>

  <!-- 3 DESCRIPTIVE BOXES -->
  <section class="col-container">
    <!-- 'FINISH YOUR BUCKET LIST' -->
    <col-box class="col"
      [boxTitle]="boxTitle1"[boxDesc]="boxDesc1">
    </col-box>
    <!-- 'TRAVEL THE WORLD' -->
    <col-box class="col"
      [boxTitle]="boxTitle2"[boxDesc]="boxDesc2">
    </col-box>
  <!-- 'NEVER FORGET IT' -->
    <col-box class="col"
      [boxTitle]="boxTitle3"[boxDesc]="boxDesc3">
    </col-box>
  </section>

  <!-- show/hide 'CREATE ACCOUNT' based on iuser's logged-in status -->
  <ng-container *ngIf="!auth.isLoggedIn$.getValue()">
    <!-- 'CREATE ACCOUNT' button -->
    <button id="create-account-btn" class="btn btn-primary" [routerLink]="['/user/new-account']">Create a TravelTrack
      Account</button>
  </ng-container>


  <h4>[ THIS PAGE WILL BE FURTHER DEVELOPED SOON... ]</h4>
</div>

<!-- I'll continue to slowly add to this (and some other pages) as time goes by -->
